<!DOCTYPE html>
html(lang="zh")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon",href="favicon.ico",type="image/x-icon")
    link(rel="icon",size="any",href="favicon.ico",type="image/x-icon")
    title Firefly-video
  body
    div(id="body-box")
      div(id="background")
      div(id="header-box")
      div(id="rotation-box")
      div(id="app-box")
        div(id="video-list-box")
      div(id="footer-box")
      //- script(src="../src/page/home/home.js")
    //- script(src="./home.bundle.js")