doctype html
html(lang="zh")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="http://vjs.zencdn.net/5.5.3/video-js.css",rel="stylesheet")
    //- script(src="http://vjs.zencdn.net/ie8/1.1.1/videojs-ie8.min.js")
    title Firefly-video
  body
    div(id="background")
    div(id="header-box")
    div(id="app-box")
      div(id="video-player-box")
      div(id="comment-big-box")
      div(id="author-video-list")
      div(id="type-video-list")
    div(id="footer-box")
    script(src="./player.bundle.js")
    //- script(src="http://vjs.zencdn.net/5.5.3/video.js")