<div class="header">
  <a href="" class="to-home-btn item">
    <span class="ff-logo"></span>
    <span class="main-site">主站</span>
  </a>
  <span class="upload-btn item">
    上传视频
  </span>
  <span class="user item">
    {{#if userName}}
    <div>
      <span>{{userName}}</span>
      <span>退出登陆</span>
    </div>
    {{else}}
    <span class="login-btn">登陆</span>
    {{/if}}
  </span>
</div>