<div class="login-bg">
  <div class="login-box">


    <span class="close-btn">

    </span>

    <nav class="form-title">
      <span class="login-title selected">登陆</span>
      <span class="register-title">注册</span>
    </nav>

    <div class="form-view">
      <div class="login-register view-login">
        <div class="login">
          <input class="input username" type="text" name="username" placeholder="请输入用户名">
          <input class="input password" type="password" name="password" placeholder="请输入密码">
          <div class="login-btn submit-btn" title="Login">登陆</div>
        </div>

        <div class="divider"></div>

        <div class="register">
          <input class="input username" type="text" name="new-name" placeholder="请输入用户名">
          <input class="input username" type="password" name="new-password" placeholder="请输入密码">
          <div class="register-btn submit-btn" title="Register">注册</div>
        </div>
      </div>
    </div>

  </div>
</div>