<div class="upload-video-bg">
  <div class="upload-box">

    <span class="close-btn"></span>

    <nav class="form-title">
      上传视频
    </nav>

    <div class="form-view">
      <div class="form-box">
        <ul>
          <li class="video-name-list">
            {{!-- <span class="input-title">视频标题：</span> --}}
            <input class="video-name-input" type="text" placeholder="视频标题">
          </li>
          <li class="video-type-list">
            {{!-- <span class="input-title">视频类别：</span> --}}
            <select class="video-type-select">
              <option value="">-请选择视频类别-</option>
              <option value="movie">影视</option>
              <option value="anime">动漫</option>
              <option value="music">音乐</option>
              <option value="entertainment">娱乐</option>
              <option value="study">学习</option>
              <option value="science">科技</option>
              <option value="life">生活</option>
              <option value="other">其他</option>
            </select>
          </li>
        </ul>
      </div>
      <div class="drag-box" draggable="true">
        <p>将视频拖拽到这里上传</p>
      </div>
      <div class="preview-box"></div>
      <div class="upload-submit-btn">上传</div>
    </div>

    <div class="while-update hide">
      <div class="load-animation"></div>
      <div id="progress-box" class="progress-an"></div>
    </div>

  </div>
</div>