#global-alert{
  z-index: 100;
  display: block;
  border-radius: 4px;
  padding: 0 22px;
  position: fixed;
  font-size: 20px;
  line-height: 2.5;

  top: -54px;
  transition: top 1s ease-out;
  opacity: 0.4;
  // 居中对齐
  left: 50%;
  transform: translateX(-50%);
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

  &.show{
    transition: all 1s ease-in;
    top: 30px;
    opacity: 1;
    animation: in 1s ease-in;

    @keyframes in {
      0% {
        top: -54px;
      }
      100% {
        top: 30px;
      }
    }
  }

  &.success{
    background-color: rgba(51, 238, 176, 0.8);
  }
  &.error{
    background-color: rgba(240, 47, 127, 0.80);
  }
  &.notice{
    background-color:  rgba(63, 169, 245, 0.8);
  }
}