<div class="front-box">
  <header>

  </header>
  <p class="form-message">{{form-message}}</p>
  <from>
    <p class='form-item necessary'>
      <p class="input-label">姓名Name</p>
      <input type="text">
    </p>
    <p class="form-item necessary">
      <p class="input-label">电话Tell</p>
      <input type="number">
    </p>
    <p class="form-item necessary">
      <p class="input-label">公司Company</p>
      <input type="text">
    </p>
    <p class="form-item necessary">
      <p class="input-label">职位Office</p>
      <input type="text">
    </p>
    <p class="form-item">
      <p class="input-label">QQ</p>
      <input type="text">
    </p>
    <p class="form-item">
      <p class="input-label">微信WeChat</p>
      <input type="text">
    </p>
    <p class="form-item">
      <p class="input-label">邮箱E-mail</p>
      <input type="text">
    </p>
    <p class="form-item">
      <p class="input-label">备注Remark</p>
      <input type="text">
    </p>

    
  </from>
</div>